# Analysis of Data from FIFA19

In [1]:
import pandas as pd
import numpy as np
name ='./data/data.csv'
data = pd.read_csv(name)

### Making a list of different teams present in data

In [2]:
data_clubs = data.loc[:,"Club"]
clubs= []
for row in data_clubs:
        if row not in clubs:
            row = str(row)
            if row != 'nan':
                clubs.append(row)
clubs_np = np.array(clubs)
club_df = pd.DataFrame({"Clubs":clubs})

###  Average age span of all the teams

In [3]:
age_list = []
for row in clubs_np:
    if row != 'nan':    
        summ=0
        age_bool = data.loc[:,"Club"] == row
        ages = data.loc[age_bool,"Age"]
        for each in ages:
            summ+=float(each)
            length = len(ages)
        avg_age = round(summ/length)
        avg_age = float(avg_age)
        age_list.append(avg_age)
club_df =pd.DataFrame({'Average Age':age_list})
club_df['Clubs'] = clubs

### Formatting Wage Column

In [4]:
wages = data.loc[:,"Wage"]
wage_value =[]
for row in wages:
    row = row.replace("€","")
    row = row.replace("K","")
    wage_value.append(int(row))
wage_np = np.array(wage_value)
wages_pd = pd.DataFrame({'Earnings':wage_value})

### Total amount spent By Teams

In [5]:
wage_amt_list = []
wage_amt_float = []
for row in clubs_np:
    if row != 'nan':    
        amt=0
        wage_bool = data.loc[:,"Club"] == row
        wages = wages_pd.loc[wage_bool,"Earnings"]
        for each in wages:
            amt+=float(each)
        wage_amt = float(amt)
        wage_amt_list.append(wage_amt)
        wage_amt_float.append(float(wage_amt))
club_df =pd.DataFrame({'Total Wages':wage_amt_list})
club_df['Clubs'] = clubs
club_df['Average Age'] = age_list

### Overall Strength of The Team

In [6]:
overall_amt_list =[]
for row in clubs_np:
    if row != 'nan':    
        overall_qty=0
        overall_bool = data.loc[:,"Club"] == row
        overalls = data.loc[overall_bool,"Overall"]
        for each in overalls:
            overall_qty+=float(each)
            length = len(overalls)
        overall_amt = round(overall_qty/length)
        overall_amt = float(overall_amt)
        overall_amt_list.append(overall_amt)
overall_pd = pd.DataFrame({'Overall':overall_amt_list})

### Number of Players in each Team

In [7]:
num_players = []
for row in clubs_np:
    if row != 'nan':
        player_bool = data.loc[:,"Club"] == row
        players = data.loc[player_bool,"Name"]
        players = list(players)
        team_size = len(players)
        num_players.append(team_size)

## Final DataFrame & some Highlighted Stats

In [8]:
club_detail_pd = pd.DataFrame({'Clubs':clubs})
club_detail_pd['Avg. Age'] = age_list
club_detail_pd['Value in €*'] = wage_amt_list
club_detail_pd['Avg.Overall'] = overall_amt_list
club_detail_pd['No.of Players'] = num_players
max_age = club_detail_pd.loc[:,'Avg. Age'].max()
max_wage = club_detail_pd.loc[:,'Value in €*'].max()
max_overall = club_detail_pd.loc[:,'Avg.Overall'].max()
min_age = club_detail_pd.loc[:,'Avg. Age'].min()
team_wage = club_detail_pd.loc[club_detail_pd.loc[:,"Value in €*"] == max_wage,"Clubs"]
team_max_age = club_detail_pd.loc[club_detail_pd.loc[:,"Avg. Age"] == max_age,"Clubs"]
team_overall = club_detail_pd.loc[club_detail_pd.loc[:,"Avg.Overall"] == max_overall,"Clubs"]
team_min_age = club_detail_pd.loc[club_detail_pd.loc[:,"Avg. Age"] == min_age,"Clubs"]
print( team_wage+ " has highest monetary value €" + str(max_wage) + "K")
print(team_max_age + " has eldest average of "+ str(max_age))
print(team_overall + " has best overall strength "+ str(max_overall))
print(team_min_age + " has youngest average of "+ str(min_age))
print(club_detail_pd.head(20))

6    Real Madrid has highest monetary value €5017.0K
Name: Clubs, dtype: object
208    Paraná has eldest average of 32.0
Name: Clubs, dtype: object
1    Juventus has best overall strength 82.0
Name: Clubs, dtype: object
490    FC Nordsjælland has youngest average of 20.0
Name: Clubs, dtype: object
                  Clubs  Avg. Age  Value in €*  Avg.Overall  No.of Players
0          FC Barcelona      24.0       4837.0         78.0             33
1              Juventus      27.0       3292.0         82.0             25
2   Paris Saint-Germain      25.0       2161.0         77.0             30
3     Manchester United      25.0       3391.0         77.0             33
4       Manchester City      24.0       3741.0         77.0             33
5               Chelsea      25.0       3249.0         77.0             33
6           Real Madrid      24.0       5017.0         78.0             33
7       Atlético Madrid      24.0       1533.0         75.0             33
8     FC Bayern München      24.0       2286.0         77.0             29
9     Tottenham Hotspur      25.0       2623.0         77.0             33
10            Liverpool      24.0       2902.0         76.0             33
11               Napoli      26.0       1777.0         80.0             25
12              Arsenal      25.0       2588.0         75.0             33
13                Milan      25.0       1957.0         78.0             27
14                Inter      27.0       1596.0         80.0             24
15                Lazio      25.0       1226.0         75.0             32
16    Borussia Dortmund      23.0       1258.0         75.0             33
17          Vissel Kobe      27.0         85.0         63.0             30
18   Olympique Lyonnais      23.0       1125.0         73.0             29
19                 Roma      26.0       1399.0         77.0             26

#### * *Values are in K*